In [32]:
mat = [[1]*5]*10

In [34]:
(mat)

[[1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1]]

In [37]:
import numpy as np

In [40]:
a = np.array([[1, 2], [3, 4]])
b = []
c = np.concatenate((a[0], b), axis=0)

In [44]:
type(c)

numpy.ndarray

In [48]:
n = 3
mylist = [0,1,2,3,4,5,6,7,8,9]
newlist = mylist[n:]
print(newlist)

[3, 4, 5, 6, 7, 8, 9]

In [59]:
for count,item in enumerate(newlist):
    print("Counter ->" + str(count))
    print("Num -> " + str(item))

Counter ->0
Num -> 3
Counter ->1
Num -> 4
Counter ->2
Num -> 5
Counter ->3
Num -> 6
Counter ->4
Num -> 7
Counter ->5
Num -> 8
Counter ->6
Num -> 9

In [60]:
import pandas as pd

In [61]:
aha = [0,1,2,3,423,454,65,654,7645,76,5]

In [65]:
sep = pd.DataFrame(aha, columns= ['puntuacion'])

In [67]:
se = [0,1,0,1,1,0,1,0,1,0,0]

In [66]:
sep

    puntuacion
0            0
1            1
2            2
3            3
4          423
5          454
6           65
7          654
8         7645
9           76
10           5